### /.gitignore-boilerplates/Global/Eclipse.gitignore
*.pydevproject
.metadata
bin/
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

### .gitignore-boilerplates/Global/OSX.gitignore
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### .gitignore-boilerplates/Java.gitignore
*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse


# Intellij
.idea/
*.iml
*.iws

# Maven
log/
target/
appcompat_v7/gen/android/support/v7/appcompat/BuildConfig.java
appcompat_v7/gen/android/support/v7/appcompat/R.java
Sarah Android/gen/android/support/v7/appcompat/R.java
Sarah Android/gen/sarah/android/BuildConfig.java
Sarah Android/gen/sarah/android/R.java
